.app {
  background-color: #ccd4df;
  height: 100vh;
}

.navBar {
  background-color: #63686e;
  color: #fff;
}

.navBar .logo img {
  width: 35px;
}

.navBar .logo h2 {
  font-size: 24px;
}

.navBar .refresh i {
  color: #63686e;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
}

.navBar .refresh span {
  font-size: 19px;
}

/*  */

.cityANDsearch {
  border-bottom: 1px solid #33333331;
}

.cityANDsearch .city {
    font-size: 20px;
}

.cityANDsearch .city i {
  padding-right: 10px;
}

.cityANDsearch .search i {
  position: relative;
    left: 26px;
}

.cityANDsearch .search input {
  width: 300px;
  padding: 10px 10px 10px 40px;
  border-radius: 8px;
  border: none;
}

.cityANDsearch .search input:focus {
  outline: none;
}

/*  */



.wheatherData {
  height: 380px;
  font-size: 20px;
}

.wheatherData .data {
  padding-top: 35px ;
}
.weatherDiv .weatherCARD {
  background: linear-gradient(to bottom, #75737e, #20263c);
  width: 180px;
  text-align: center;
  border-radius: 8px;
}

.weatherDiv .weatherState {
  height: 70px;
  border-bottom: solid 1px #c0c1c4;
  padding:10px;
}

.weatherState i {
  font-size: 40px;
}

.searchButton {
  background: linear-gradient(to bottom, #75737e, #20263c);
  color: #fff;
  padding: 7px 13px;
  margin-left: 10px;
  border-radius: 8px;
}







@media screen and (max-width : 576px) {

  .app {
    height: 120vh;
  }

  .navBar {
    padding-block: 0 !important;
    padding-inline: 0 !important;
    font-size: 14px;
  }

  .logo {
    padding-left: 10px;
  }
  .navBar .refresh {
    border-left: 1px solid #ffffff31;
    padding: 10px;
  }

  .navBar .refresh span {
    margin: 0 !important;
  }
  
  .cityANDsearch .city {
    padding: 17px;
    font-size: 20px;
  }

  .cityANDsearch span {
    font-size: 27px;
    margin-left: 10px;
  }

  .cityANDsearch .city i {
    font-size: 25px;
    padding: 5px;
    padding-left: 0;
  }
  
  .cityANDsearch .search {
    width: 100%;
  }
  
  .cityANDsearch .search i {
    position: relative;
    left: 26px;
  }
  .cityANDsearch .search input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border-radius: 8px;
    border: none;
  }
  
  .cityANDsearch .search input:focus {
    outline: none;
  }

  .wheatherData {
    margin-right: 0 !important;
    padding-right: 0 !important;
  }

  .weatherDivs {
    overflow: scroll;
    width: 100%;
  }

  .weatherDivs::-webkit-scrollbar {
    display: none;
  }
}